{% extends "base.html" %}


{% block css %}
  <link rel="stylesheet" href="static/css/projects.css">
{% end %}


{% block content %}
        <!--Gallery-->
        <div class="row">
            <div class="col-md-4 FoggyBridge">
                   <h3 id="ACC"><a class="black" href="http://aggiecodingclub.com/" target="_blank">Aggie Coding Club <br>Website</a></h3>
                   <div class="col-md-8">
                   </div>
                   <div class="col-md-2">
                   <a class="glyphicon glyphicon-eye-open btn-lg btn-link black" title="View The Project" href="http://aggiecodingclub.com/" target="_blank"></a>
                   </div>
                   <div class="col-md-2">
                   <button id="acc-info" class="glyphicon glyphicon-info-sign btn-lg btn-link black" title="Project Info"></button>
                   </div>
            </div>

            <div class="col-md-4 QuietLake" >
                   <h3 id="FillerProject1"><a class="black">Filler Project 1</a></h3>
                   <div class="col-md-8">
                   </div>
                   <div class="col-md-2">
                   <a class="glyphicon glyphicon-eye-open btn-lg btn-link black" title="View The Project"></a>
                   </div>
                   <div class="col-md-2">
                   <button onclick="displayFillerProject1Info()" class="glyphicon glyphicon-info-sign btn-lg btn-link black" title="Project Info"></button>
                   </div>
            </div>

            <div class="col-md-4 MysticForrest" >
                   <h3 id="FillerProject2"><a class="white">Filler Project 2</a></h3>
                   <div class="col-md-8">
                   </div>
                   <div class="col-md-2">
                   <a class="glyphicon glyphicon-eye-open btn-lg btn-link white" title="View The Project"></a>
                   </div>
                   <div class="col-md-2">
                   <button onclick="displayFillerProject2Info()" class="glyphicon glyphicon-info-sign btn-lg btn-link white" title="Project Info"></button>
                   </div>
            </div>
       </div>
{% end %}

{% block js %}
  <script src="static/js/displayInfoText.js"></script>
{% end %}
