html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.object {
    background-size:cover;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    text-align: center;
    display: table;
}

h1 {
    margin: 0px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    color:#FDE06A;
}

a {
    color: inherit;
    text-decoration: none;
}

.one {
    background-image: url(/static/img/DessertRoad.jpg);
}

.two {
    background-image: url(/static/img/FoggyBridge.jpg);
}

.background-container {
  /*margin: auto;*/
  width: 100%;
  align-items: center;
  background: linear-gradient(to right, #286DA8, #438496);
}

.map-container {
  margin: auto;
  width: 75%;
  background: white;
  box-shadow: 5px 5px 10px black;
}

#map-title {
  text-align: center;
}

#map {
  height: 400px;
}
