html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.object {
    background-size:cover;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    text-align: center;
    display: table;
}

h1 {
    margin: 0px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    color:#FDE06A;
}

a {
    color: inherit;
    text-decoration: none;
}

.one {
    background-image: url(/static/img/DessertRoad.jpg);
}

.two {
    background-image: url(/static/img/FoggyBridge.jpg);
}
