html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    text-align: center;
}

.header a {
    text-decoration: none;
    color:black;
}

.header .name {
    font-size: 28px;
}

.education {
    
}

.education span {
    margin-left: 60%;
}

.involvement span {
    margin-left: 54%;
}

.col-md-10 {
    text-align: left;
}

.col-md-2 {
    text-align: left;
}
