.background-container {
  /*margin: auto;*/
  width: 100%;
  align-items: center;
  background: linear-gradient(to right, #286DA8, #438496);
}

.map-container {
  margin: auto;
  width: 75%;
  background: white;
  box-shadow: 5px 5px 10px black;
}

#map-title {
  text-align: center;
}

#map {
  height: 400px;
}


.quote-container {
  color: white;
}
